<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Avtoservis</title>
</head>
<body>
<div align="center">
    <h1>Avtoservis</h1>

        <form th:action="@{/novAvtomobilForm}" method="get">
            <input type="submit" value="Nov Avtomobil">
        </form>
        <br/>

       <form th:action="@{/novDefektForm}" method="get">
           <input type="submit" value="Nov Defekt">
       </form>


        <br/>
        <h3>Popraveni defekti od odreden avtomobil</h3>
        <button type="button">Prikazi</button>

        <h3>Popraveni defekti od odreden avtomehanicar</h3>
        <button type="button">Prikazi</button>

</div>
</body>
</html>