<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Nov Avtomobil</title>
</head>
<body>
<div align="center">
    <h1>Nov Avtomobil</h1>
    <form action="#" th:action="@{/create}" th:object="${avtomobil}">
        <label>Avtomobil Id:</label>
        <input type="text" th:field="*{id_avtomobil}" /><br/>

        <label>Marka:</label>
        <input type="text" th:field="*{marka}" /><br/>

        <label>Model:</label>
        <input type="text" th:field="*{model}" /><br/>

        <label>EMBG:</label>
        <input type="text" th:field="*{EMBGKlient}" /><br/>


        <button type="submit">Vnesi avtomobil</button>
    </form>
</div>
</body>
</html>